package main

import (
	"github.com/hundredlee/wechat_pusher/models"
    "github.com/hundredlee/wechat_pusher/utils"
)

func main() {

    tasks = make([]models.Task, 100)
    mess := models.Message{
        		ToUser: "openid",
        		TemplateId: "templateId",
        		Url: "http://baidu.com",
        		Data: models.Data{
        			First: models.Raw{"xxx", "#173177"},
        			Subject: models.Raw{"xxx", "#173177"},
        			Sender: models.Raw{"xxx", "#173177"},
        			Remark: models.Raw{"xxx", "#173177"}}}
    task := models.Task{Message: mess}

    tasks[0] = task

	utils.NewPush(tasks).Run()
}

